
*{
    margin:0px;
    padding:0.5px;
    box-sizing:border-box;

}
header{
    display:flex;
    justify-content:space-between;
}
.menu{
    width:100%;
    background-color:dodgerblue;
    height:40px;
}
.menu ul{
    text-align:center;
}
.menu ul li{
    list-style:none;
    display:inline;
}
.menu ul li a{
    text-decoration:none;
    display:inline-block;
    line-height: 40px;
    padding:0px 15px 0px 15px;
}
.notification-box {
  position: relative;
  background-color:dodgerblue;
  z-index: 99;
  top: auto;
  right: auto;
  width: auto;
  height: auto;
  text-align: center;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.items {
  background-color: dodgerblue;
  width:auto;
  height:150px;
  color: black;
  margin: 20px;
  padding: 20px;
  overflow:scroll;
  border-left:groove;
  border-bottom: ridge;
}
.items:hover {
    color:white;

}
.price{
    float:right;
}
#items {
  background-color: dodgerblue;
  width:auto;
  height:auto;
  color: black;
  margin: 20px;
  padding: 20px;
  overflow:scroll;
  border:ridge;
  border-radius:8px 8px 8px 8px;
}
.btn {
  border-radius:0;
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 5px 15px;
  font-size: 20px;
  cursor: pointer;
}
.about {
    background-color: white;
    width: auto;
    height: 150px;
    color: black;
    margin: 20px;
    padding: 20px;
  
}